{%load static%}
<html>
<head>
    <title>add admissions page</title>
    <link rel = "stylesheet" href = "{% static "stylesheet/home.css" %}"/>
</head>
<body>
    <h2> 
        <img src="{% static "images/bhuvipic.jpeg" %}"  alt="image not found"/>
        home page
        </h2>
        </br>
        </br>
        </hr>
    <br/><br/><br/>

    <div class = "module">
        <hi>ADMISSIONS</hi>
        <button type="button" name="'button">Add admission</button><br></br>
        <button type="button" name="'button">view admission</button>
    <div class = "module">
        <h1>FINANCIAL</h1><br></br>
        <button type="button" name="'button">Pay bill</button>
        <button type="button" name="'button">view bill</button>

    </div>
</body>
</html>