{%load static%}
<html>
<head>
    <title>add admissions page</title>
    <link ref = "stylesheet" href = "{% static "stylesheet/home.css" %}"/>
</head>
<body>
    <div class = "module">
        <hi>ADMISSIONS</hi>
        <button type="button" name="'button">Add admission</button>
        <button type="button" name="'button">view admission</button>
    <div class = "module">
        <hi>FINANCIAL</hi>
        <button type="button" name="'button">Add admission</button>
        <button type="button" name="'button">view admission</button>

    </div>
</body>
</html>